.Team {
    display: flex;
    margin: 0%;
    background: linear-gradient(white,rgb(245, 111, 111) );
    height: 550px;
}

.left-t {
    padding-top: 4.5em;
    padding-left: 10.5em;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
    width: 50%;
    float: left;
    text-transform: uppercase;
    color: #f74a4a;
}

.left-t > :nth-child(1) {
    font-weight: bold;
    font-size: 70px;
}

.left-t > :nth-child(2),
.left-t > :nth-child(3) {
    font-weight: bold;
    font-size: 2rem;
}

.right-t {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    width:50%;
    float: right;
    align-items: center;
}

.right-t img {
    max-width: 100%;
    transform: translateX(800px);
    padding-top: 3.5em;
    padding-bottom: 3.5em;
}
.arrows{
    transform: translate(-500px,100px);
    cursor: pointer;
}

.arrows-left{
    transform: translate(-100px,180px);
}

.border-1{
    position: absolute;
    width: 17rem;
    height: 30rem;
    border: 10px solid red;
    background-color: transparent;
    transform: translate(780px);
}
.border-2{
    position:absolute;
    width: 18rem;
    height: 29rem;
    background:linear-gradient(pink,white);
    transform: translate(760px);
}